{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% load humanize %}

{% block body_class %}template-homepage{% endblock %}
{% block content %}
<!--================Blog Area =================-->
<section class="blog_area single-post-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-12">
                        <div class="feature-img">
                            {% image page.specific.image fill-750x350 class="img-fluid" %}
                        </div>									
                    </div>
                    <div class="col-lg-3  col-md-3">
                        <div class="blog_info text-right">
                            <div class="post_tag">
                                {% for tag in page.specific.tags.all %}
                                <a href="{{ blog_index }}?tag={{ tag }}">{{ tag }}{% if not forloop.last %}, {% endif %}</a>
                                {% endfor %}
                            </div>
                            <ul class="blog_meta list">
                                <li><a href="#">{{ page.owner }}<i class="lnr lnr-user"></i></a></li>
                                <li><a href="#">{{ page.last_published_at.date }}<i class="lnr lnr-calendar-full"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>{{ page.title }}</h2>
                        <p class="excert">
                            {{ page.specific.intro }}
                        </p>
                    </div>
                    {{ page.body }}
                </div>
                <div class="navigation-area">
                    <div class="row">
                        {% with page.specific.previous_blogpage as previous %}
                        {% if previous %}
                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                            <div class="thumb">
                                <a href="{{ previous.url }}">
                                    {% image previous.image fill-60x60 class="img-fluid" %}
                                </a>
                            </div>
                            <div class="arrow">
                                <a href="{{ previous.url }}"><span class="lnr text-white lnr-arrow-left"></span></a>
                            </div>
                            <div class="detials">
                                <p>Billet précédent</p>
                                <a href="{{ previous.url }}"><h4>{{ previous }}</h4></a>
                            </div>
                        </div>
                        {% endif %}
                        {% endwith %}
                        {% with page.specific.next_blogpage as next %}
                        {% if next %}
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                            <div class="detials">
                                <p>Billet suivant</p>
                                <a href="{{ next.url }}"><h4>{{ next }}</h4></a>
                            </div>
                            <div class="arrow">
                                <a href="{{ next.url }}"><span class="lnr text-white lnr-arrow-right"></span></a>
                            </div>
                            <div class="thumb">
                                <a href="{{ next.url }}">
                                    {% image next.image fill-60x60 class="img-fluid" %}
                                </a>
                            </div>										
                        </div>									
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                    <form method="get" action="{{ blog_index.url }}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Recherche" name="search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div><!-- /input-group -->
                        </form>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Billets populaires</h3>
                        {% for post in popular %}
                        <div class="media post_item">
                            {% image post.specific.image fill-100x60 %}
                            <div class="media-body">
                                <a href="{{ post.url }}"><h3>{{ post }}</h3></a>
                                <p>{{ post.last_published_at | naturalday }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Catégories</h4>
                        <ul class="list cat-list">
                            {% for category in blog_index.specific.get_all_categories %}
                            <li>
                                <a href="{{ category.url }}" class="d-flex justify-content-between">
                                    <p>{{ category }}</p>
                                    <p>{{ category.specific.blogpages_count }}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Nuage de tags</h4>
                        <ul class="list">
                            {% for tag in tags %}
                            <li><a href="{{ blog_index }}?tag={{ tag }}">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
{% endblock %}

