{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% load humanize %}

{% block body_class %}template-homepage{% endblock %}
{% block content %}
<!--================Blog Categorie Area =================-->
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            {% for category in page.get_categories %}
            <div class="col-lg-4">
                <div class="categories_post">
                    {% image category.specific.image fill-360x220 %}
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="{{ category.url }}"><h5>{{ category.title }}</h5></a>
                            <div class="border_line"></div>
                            <p>{{ category.specific.intro | richtext }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    {% for article in articles %}
                    <article class="row blog_item">
                       <div class="col-md-3">
                           <div class="blog_info text-right">
                                <div class="post_tag">
                                    {% for tag in article.specific.tags.all %}
                                    <a {% if tag.name == active_tag %}class="active"{% endif %}href="{{ blog_index.url }}?tag={{ tag }}">{{ tag }}{% if not forloop.last %}, {% endif %}</a>
                                    {% endfor %}
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">{{ article.owner }}<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">{{ article.last_published_at.date }}<i class="lnr lnr-calendar-full"></i></a></li>
                                    <!--<li><a href="#">1.2M Views<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>-->
                                </ul>
                            </div>
                       </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                {% image article.specific.image fill-555x280 %}
                                <div class="blog_details">
                                    <a href="{{ article.url }}"><h2>{{ article.title }}</h2></a>
                                    <p>{{ article.specific.intro | richtext }}</p>
                                    <a href="{{ article.url }}" class="blog_btn">Lire la suite</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                    {% if paginator.num_pages > 1 %}
                    <nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            {% if articles.has_previous %}
                            <li class="page-item">
                                <a href="?page={{ articles.previous_page_number }}" class="page-link" aria-label="Précédent">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                            {% for page in paginator.page_range %}
                            <li class="page-item{% if articles.number == page %} active {% endif %}"><a href="?page={{ page }}" class="page-link">{{ page }}</a></li>
                            {% endfor %}
                            {% if articles.has_next %}
                            <li class="page-item">
                            <a href="?page={{ articles.next_page_number }}" class="page-link" aria-label="Suivant">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form method="get" action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Recherche" name="search" value="{{ search }}">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            </form>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Billets populaires</h3>
                        {% for post in popular %}
                        <div class="media post_item">
                            {% image post.specific.image fill-100x60 %}
                            <div class="media-body">
                                <a href="{{ post.url }}"><h3>{{ post }}</h3></a>
                                <p>{{ post.last_published_at | naturalday }}</p>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget ads_widget">
                        <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Catégories</h4>
                        <ul class="list cat-list">
                            {% for category in blog_index.specific.get_all_categories %}
                            <li>
                                <a href="{{ category.url }}" class="d-flex justify-content-between">
                                    <p>{{ category }}</p>
                                    <p>{{ category.specific.blogpages_count }}</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="br"></div>
                    </aside>
                    <aside class="single-sidebar-widget tag_cloud_widget">
                        <h4 class="widget_title">Nuage de tags</h4>
                        <ul class="list">
                            {% for tag in tags %}
                            <li><a href="{{ blog_index.url }}?tag={{ tag }}">{{ tag }}</a></li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================Blog Area =================-->
{% endblock %}

