{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}template-formpage{% endblock %}

{% block content %}
{{ page.body }}

<section class="book_table_area p_120">
    <div class="container">
        <div class="book_table_inner row">
            <div class="col-lg-5">
                <div class="table_img">
                    {% image page.image fill-600x600 %}
                </div>
            </div>
            <div class="col-lg-7">
                <div class="table_form">
                    {{ page.thank_you_text }}
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--================End Book Table Area =================-->
{% endblock content %}
