{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}template-formpage{% endblock %}

{% block content %}
{{ page.body }}

<section class="book_table_area p_120">
    <div class="container">
        <div class="book_table_inner row">
            <div class="col-lg-5">
                <div class="table_img">
                    {% image page.image fill-600x600 %}
                </div>
            </div>
            <div class="col-lg-7">
                <div class="table_form">
                    {{ page.intro }}
                    <form class="book_table_form row" action="{{ page.url }}" method="POST">
                        {% csrf_token %}
                        {% for item in form %}
                        <div class="form-group col-md-12">
                            {{ item }}
                        </div>
                        {% endfor %}
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn submit_btn form_control">Valider</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>-->
{% endblock content %}
