{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<section class="about_story_area p_120">
    <div class="container">
        <div class="row story_inner">
                <div class="col-lg-7">
                    <div class="story_img2">
                        {% image page.image fill-750x750 class="img-fluid" %}
                    </div>
                </div>
                <div class="col-lg-5">
                <div class="story_text">
                    <h2>{{ page.title }}</h2>
                    {% if page.diet == 'veggie' %}<p class="meal-diet meal-veggie"><img src="{% static 'img/veggie-icon.png' %}" alt="Végétarien" title="Végétarien">Végétarien</p>
                    {% elif page.diet == 'vegan' %}<p class="meal-diet meal-vegan"><img src="{% static 'img/vegan-icon.png' %}" alt="Vegan" title="Vegan"> Vegan</p>{% endif %}
                    {% if page.gluten_free %}<p class="meal-diet meal-glutenfree"><img src="{% static 'img/gluten-free.png' %}" alt="Sans gluten" title="Sans gluten"> Sans gluten</p>{% endif %}
                    {{ page.body | richtext }}
                    <h3>Ingrédients</h3>
                    {% if page.ingredients %}
                        <ul>
                            {% for ingredient in page.ingredients %}
                            <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                        {% with page.specific.allergenes as allergenes %}
                        {% if allergenes %}
                            <h4>Allergènes</h4>
                            {% for allergene in allergenes %}
                                {{ allergene | lower }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                    <h3>{{ page.price }} €</h3>
                    {% for extra in page.get_extra_text %}
                        {{ extra | safe }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
