{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}template-meal-category{% endblock %}

{% block content %}
{{ page.body }}
<!--================Menu Area =================-->
{% with page.get_subcategories as subcategories %}
{% with page.get_direct_meals as meals %}
<section class="pad_top">
    <div class="container">
        <p>{{ page.intro | richtext }}</p>
        {% for extra in page.get_extra_text %}
            {{ extra | safe }}
        {% endfor %}
    </div>
</section>
{% if meals %}
    <section class="menu_area pad_top">
        <div class="container">
            <div class="item">
                <div class="row menu_inner">
                    <div class="col-lg-7">
                        <div class="menu_list">
                            <ul class="list">
                                {% for meal in meals %}
                                {% with meal.specific as meal %}
                                <li>
                                    <h4>{% if meal.diet == 'veggie' %}<img src="{% static 'img/veggie-icon.png' %}" alt="Végétarien" title="Végétarien">
                                        {% elif meal.diet == 'vegan' %}<img src="{% static 'img/vegan-icon.png' %}" alt="Vegan" title="Vegan">
                                        {% endif %}
                                        {% if meal.gluten_free %}<img src="{% static 'img/gluten-free.png' %}" alt="Sans gluten" title="Sans gluten"> {% endif %}
                                        <a href="{{ meal.url }}">{{ meal.title }}</a> <span>{{ meal.price }} €</span></h4>
                                    {{ meal.body | richtext }}
                                    {% if meal.ingredients %}
                                    {% autoescape off %}
                                    <p><em>{{ meal.ingredients | join:', ' }}</em></p>
                                    {% endautoescape %}
                                    {% endif %}
                                </li>
                                {% endwith %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="menu_img">
                            {% with page.random_direct_meal as meal %}
                            {% image meal.specific.image fill-555x600 %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
{% if subcategories %}
    {% for category in subcategories %}
    <section class="menu_area pad_top">
        <div class="container">
            {% with category.content_type.model as model %}
            {% with category.specific as category %}
            <div class="item">
                <div class="row menu_inner">
                    <div class="col-lg-7">
                        <div class="menu_list">
                            <h3><a href="{{ category.url }}">{{ category.title }}</a></h3>
                            {{ category.intro | richtext }}
                            <ul class="list">
                                {% if model == 'mealcategorypage' %}
                                {% for meal in category.get_meals %}
                                {% with meal.specific as meal %}
                                <li>
                                    <h4>{% if meal.diet == 'veggie' %}<img src="{% static 'img/veggie-icon.png' %}" alt="Végétarien" title="Végétarien">
                                        {% elif meal.diet == 'vegan' %}<img src="{% static 'img/vegan-icon.png' %}" alt="Vegan" title="Vegan">
                                        {% endif %}
                                        {% if meal.gluten_free %}<img src="{% static 'img/gluten-free.png' %}" alt="Sans gluten" title="Sans gluten"> {% endif %}
                                        <a href="{{ meal.url }}">{{ meal.title }}</a> <span>{{ meal.price }} €</span></h4>
                                    {{ meal.body | richtext }}
                                    {% if meal.ingredients %}
                                    {% autoescape off %}
                                    <p><em>{{ meal.ingredients | join:', ' }}</em></p>
                                    {% endautoescape %}
                                    {% endif %}
                                </li>
                                {% endwith %}
                                {% endfor %}
                                {% elif model == 'menucategorypage' %}
                                {% for menu in category.get_children %}
                                {% with menu.specific as menu %}
                                <li>
                                    <h4>{% if menu.diet == 'veggie' %}<img src="{% static 'img/veggie-icon.png' %}" alt="Végétarien" title="Végétarien">
                                        {% elif menu.diet == 'vegan' %}<img src="{% static 'img/vegan-icon.png' %}" alt="Vegan" title="Vegan">
                                        {% endif %}
                                        {% if menu.gluten_free %}<img src="{% static 'img/gluten-free.png' %}" alt="Sans gluten" title="Sans gluten"> {% endif %}
                                        <a href="{{ menu.url }}">{{ menu.title }}</a> <span>{{ menu.price }} €</span></h4>
                                    {{ menu.body | richtext }}
                                    {% if menu.ingredients %}
                                    {% autoescape off %}
                                    <p><em>{{ menu.ingredients | join:', ' }}</em></p>
                                    {% endautoescape %}
                                    {% endif %}
                                </li>
                                {% endwith %}
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="menu_img">
                            {% if model == 'mealcategorypage' %}
                                {% with category.random_meal as meal %}
                                {% image meal.specific.image fill-555x600 %}
                                {% endwith %}
                            {% elif model == 'menucategorypage' %}
                                {% with category.random_menu as menu %}
                                {% image menu.specific.image fill-555x600 %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endwith %}
        </div>
    </section>
    {% endfor %}
{% endif %}
{% endwith %}
{% endwith %}
<!--================End Menu Area =================-->
{% endblock content %}

