{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
    <section class="menu_area pad_top">
        <div class="container">
            {% with value.specific as category %}
            <div class="item">
                <div class="row menu_inner">
                    <div class="col-lg-7">
                        <div class="menu_list">
                            <h3><a href="{{ category.url }}">{{ category.title }}</a></h3>
                            {{ category.intro | richtext }}
                            <ul class="list">
                                {% for meal in category.get_meals %}
                                {% with meal.specific as meal %}
                                <li>
                                    <h4><a href="{{ meal.url }}">
                                        {% if meal.diet == 'veggie' %}<img src="{% static 'img/veggie-icon.png' %}" alt="Végétarien" title="Végétarien">
                                        {% elif meal.diet == 'vegan' %}<img src="{% static 'img/vegan-icon.png' %}" alt="Vegan" title="Vegan">
                                        {% endif %}
                                        {% if meal.gluten_free %}<img src="{% static 'img/gluten-free.png' %}" alt="Sans gluten" title="Sans gluten"> {% endif %}

                                        {{ meal.title }}</a> <span>{{ meal.price }} €</span></h4>
                                    {{ meal.body | richtext }}
                                    {% if meal.ingredients %}
                                    {% autoescape off %}
                                    <p><em>{{ meal.ingredients | join:', ' }}</em></p>
                                    {% endautoescape %}
                                    {% endif %}
                                </li>
                                {% endwith %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="menu_img">
                            {% with category.random_meal as meal %}
                            {% image meal.specific.image fill-555x600 %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
        </div>
    </section>

