{% load static %}
{% load wagtailcore_tags %}
<section class="about_story_area p_120">
    <div class="container">
        <div class="row story_inner">
            <div class="story_text">
                {{ value | richtext}}
            </div>
            </div>
        </div>
    </div>
</section>


