<section class="pad_top">
    <div class="container">
        <div class="main_title">
            <h2>{{ value.title }}</h2>
            <p>{{ value.intro }}</p>
        </div>
    </div>
</section>


