{% load wagtailcore_tags %}

{% if ancestors %}
<div class="page_link">
    {% for ancestor in ancestors %}
    <a href="{% pageurl ancestor %}">{% if ancestor.seo_title %}{{ ancestor.seo_title }}{% else %}{{ ancestor.title }}{% endif %}</a>
    {% endfor %}
  </div>
{% endif %}
